---
layout: base.njk
changeFreq: daily
robots: nosnippet
---


  <!-- Hero -->
  <section class="hero-section text-center bg-gradient text-dark py-5" >
    <div class="container py-5">
      <h1 class="display-5 fw-bold mb-3 text-gradient">{{title }}</h1>
      
    </div>
  </section>
 <!-- Blog Detail -->
<section class="py-5 bg-light">
  <div class="container w-100">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <article class="bg-white p-4 shadow-sm rounded-3">
         
          <p class="text-muted small mb-4">   By <strong>{{ author }}</strong> - {{ date | postdate }}</p>
          <img  src="{{ image }}" class="rounded mb-4 w-100" alt="Blog Image" height="200px">
          <p>
          {{ content | safe }}
          </p>
        
          <hr>
          <div class="mt-4">
           <a href="/blog" class="btn btn-outline-secondary mt-4">← Back to Blog</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
