
 <!-- Footer -->
    <footer id="contact" class="text-light bg-primary">
      <div class="container">
        <br>
        <br>
        <div class="row text-center text-md-start mb-4">
          <div class="col-md-4 mb-5 ">
            <h5 class="fw-semibold mb-3">Repotrans</h5>
            <p>
              All-in-one loan management system for microfinance
              institutions. Automate operations and boost efficiency.
            </p>
          </div>
          <div class="col-md-4 mb-md-0">
            <h5 class="text-light fw-semibold mb-3">Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="#features" class="text-light">Features</a></li>
              <li>
                <a href="#why-choose" class="text-light">Why Choose Us</a>
              </li>
              <li><a href="#faq" class="text-light">FAQ</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5 class="text-white fw-semibold mb-3">Contact</h5>
            <p>Email: support@repotrans.com</p>
            <p><a href="tel:0727574812" class="text-white">Call: +254 727574812 </a></p>
          </div>
        </div>
        <hr class="border-info" />
        <div class="text-center text-light">
          © 2026 Repotrans. All rights reserved.
        </div>
      </div>
    </footer>