

<header>
   <nav class="navbar navbar-expand-lg fixed-top bg-light">
      <div class="container">
        <a class="navbar-brand fw-semibold" href="/">
          
          Repotrans 
        </a>
        <button
          class="navbar-toggler shadow-none bg-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <svg width="25" height="25">
            <path d="M0,5 30,5" stroke="#0079c1" stroke-width="2" />
            <path d="M0,14 30,14" stroke="#0079c1" stroke-width="2" />
            <path d="M0,23 30,23" stroke="#0079c1" stroke-width="2" />
          </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto align-items-lg-center">
            <hr class="text-success">

            <li class="nav-item px-3">
              <a class="nav-link fw-semibold" href="/pricing/"
                >Features</a
              >
            </li>
            <hr class="text-success">

            
            <li class="nav-item px-3">
              <a class="nav-link fw-semibold" href="/pricing/"
                >Pricing</a
              >
            </li>
            <hr class="text-success">

            <li class="nav-item px-3">
              <a class="nav-link fw-semibold" href="/blog/">Blog</a>
            </li>
            <hr class="text-success">
            <li class="nav-item px-3">
              <a class="nav-link fw-bold" href="/#request-demo">Request a demo</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

</header>
