@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
:root {
  --primary-color: #0079c1;
}

body {
  font-family: "Open Sans", sans-serif;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: var(--primary-color);
}

html {
  scrollbar-width: none;
}
.border-primary {
  border-color: var(--primary-color) !important;
}
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-light-blue {
 
  background-color: var(--primary-color);
  
}

.feature-icon {
  font-size: 2rem;
  color: var(--primary-color);
}

.hero-img {
  max-width: 100%;
  height: auto;
}
.card-img-top{
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  object-fit: cover;
  height: 200px;
}


.nav-link.active {
  color: var(--primary-color) !important;
}
.accordion-button {
  box-shadow: none !important;
  font-size: 18px;
}
p,
li {
  font-size: 18px;
}

.navbar-brand {
  font-size: 25px;
  color: var(--primary-color) !important;
}
.nav-link{
  color: var(--primary-color);
  font-weight: 500;
  font-size: 25px;
}
.card,
.list-group {
  border-radius: 1rem;
}
.accordion-body {
  font-size: 16px;
}
 .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
  }

  video {
    width: 100%;
    max-width: 640px;
    height: auto;
    border-radius: 0.5rem;
    
  }
   .testimonial-track {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 1rem;
      padding-bottom: 1rem;
      scrollbar-width: thin;
    }

    .testimonial-track::-webkit-scrollbar {
      height: 8px;
      
    }

    .testimonial-track::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 10px;
    }

    .testimonial-card {
      scroll-snap-align: start;
      flex: 0 0 300px;
      background: white;
      border-radius: 1rem;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      padding: 1.5rem;
      text-align: center;
      transition: transform 0.3s ease;
    }

    .testimonial-card:hover {
      transform: translateY(-5px);
    }

    .testimonial-card img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
      .testimonial-card {
        flex: 0 0 80%;
      }
    }