---
title: blog
layout: base.njk
changeFreq: daily
permalink: /blog/
robots: nosnippet
---

<section class="hero">
  <div class="container text-center">
    
    <h1 class="display-5 fw-bold mb-4">
      Repotrans Blog
      <span class="text-primary">
        Loan Management & Microfinance Insights
      </span>
    </h1>

    <p class="mb-4 fs-3">
      Learn how SACCOs and microfinance institutions can automate operations,
      manage loans better, and grow sustainably.
    </p>

  </div>
</section>


<!-- Blog Section -->
<section id="blog" class="py-5 bg-info">

  <div class="container">

    <div class="text-center mb-5">
      <h2 class="fw-bold text-primary">Latest Articles</h2>
      <p class="text-muted fs-2">
        Insights for SACCOs, microfinance institutions, and lending businesses.
      </p>
    </div>

    <div class="row g-4">

      {%- for post in collections.post | reverse -%}

      <div class="col-lg-4 col-md-6">
        <div class="card shadow-sm border-0 rounded-4 h-100 ">

          <img
            src="{{ post.data.image }}"
            class="rounded-top-4"
            alt="{{ post.data.title }}"
          >

          <div class="card-body">

            <h5 class="fw-semibold text-primary">
              {{ post.data.title }}
            </h5>

            <p class="text-muted small mb-2">
              {{ post.data.date | postdate }}
            </p>

            <p class="mb-3 fs-2 title-ellipsis">
              {{ post.data.description }}
            </p>

            <a
              href="{{ post.url }}"
              class="btn btn-outline-secondary btn-sm rounded"
            >
              Read More
            </a>

          </div>

        </div>
      </div>

      {%- endfor -%}

    </div>

  </div>

</section>