---
title: blog
layout: base.njk
changeFreq: daily
permalink: /blog/
robots: nosnippet
---

  <!-- Hero -->
  <section class="hero-section text-center bg-gradient text-dark py-5" >
    <div class="container py-5">
      <h1 class="display-5 fw-bold mb-3">The Repotrans Blog — Innovation in <span class="text-gradient"> SACCO & Microfinance Technology</span></h1>
      
    </div>
  </section>

 <!-- Blog Section -->
<section id="blog" class="py-5 bg-white">
  <div class="container">
    <h1 class="fw-semibold text-success text-center mb-4">Latest Insights</h1>
    <p class="text-center mb-5">
      Stay informed with the latest trends, success stories, and best practices in microfinance and SACCO automation.
    </p>

    <div class="row g-4">
       {%- for post in collections.post | reverse -%}
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm border-0 " style="height: 350px;">
          <img src="{{post.data.image}}" class="card-img-top" alt="Blog image" style="height: 100px;">
          <div class="card-body">
            <h5 class="fw-semibold text-success">{{post.data.title}}</h5>
            <p class="text-muted small mb-2">  {{ post.data.date | postdate }}</p>
            <p class="mb-3">
              {{post.data.description |  truncate(50, true, '...')}}.</p>
             <a
              href="{{post.url}}"
              class="btn btn-outline-secondary btn-sm rounded
            "
              >Read More</a>
          </div>
        </div>
      </div>
      {%- endfor -%}



  </div>
</section>
