---
title: loan management system
layout: base.njk
changeFreq: monthly

---


<section class="hero-section text-center text-dark py-5">
  <div class="container py-5">
    <div class="video-wrapper shadow-lg overflow-hidden">
      <div class="ratio ratio-16x9">
        <iframe 
          src="https://www.youtube.com/embed/EX2WvEUHPmU?rel=0&modestbranding=1" 
          title="Repotrans Demo Video" 
          allowfullscreen>
        </iframe>
      </div>
    </div>

    <a href="/" class="btn btn-success btn-lg fw-semibold mt-4">
      Go Back
    </a>
  </div>
</section>
