---
title: loan management system
layout: base.njk
changeFreq: monthly

---
<br><br><br>
<div class="container" style="display: flex;align-items: center;justify-content: center;">
<video controls width="640" height="360" style="border-radius: 0.5rem;">
  <source src="/images/loan-management-system.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>



</div>
<br><br>
