---
title: contact form
layout: base.njk
changeFreq: monthly

---
 <section class="hero-section text-center bg-gradient text-dark py-5" >
    <div class="container py-5">
      <h2 class="display-5 fw-bold mb-3 text-gradient">Thank for your interest in repotrans co-banking system,our team member will contact you. </h2>
      <br>
       <a href="/" class="btn btn-success btn-lg fw-semibold"
            >Go back</a
          >
      
    </div>

  </section>