---
title: contact form
layout: base.njk
changeFreq: monthly

---
<br><br>

<div class="container-sm" >
<div class="card bg-light shadow rounded">
    <div class="card-header bg-light">
        <h2 class="text-primary">Thank you.</h2>
    </div>
    <div class="card-body h5">
        Our team member will contact you.
    </div>
</div>

</div>
<br><br><br><br><br><br>